<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"> <!--言語の指定-->
  <head> <!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>dream</title> <!--ブラウザのタブのタイトルを指定-->
  </head>

  <body> <!--ページの見た目を作る部分-->
    <header class="header-nav">
    </header>

    <section class="school_introduction">
    </<section>

      <section class="">
      </<section>

        <section class="about">
        </<section>

          <section class="about">
          </<section>

            <section class="about">
              <h1>問い合わせ</h1>

              <%= render 'form', question: @question %>

              <%= link_to 'Back', questions_path %>
            </<section>




<footer>
    <p>Copyright © Dream All Rights Reserved.</p>
   </footer>

  </body>
</html>
